* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-roma {
  background-image: url(immagini/roma.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 33vh;

}

.box-copenaghen {
  background-image: url(immagini/copenaghen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100vw;
  height: 33vh;
}

.box-tokyo {
  background-image: url(immagini/tokyo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 33vh;
}
