* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-roma {
  background-image: url(immagini/roma.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 95vw;
  height: 33vh;

}

.box-copenaghen {
  background-image: url(immagini/copenaghen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 33vh;
}

.box-tokyo {
  background-image: url(immagini/tokyo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 95vw;
  height: 33vh;
}

.cover {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 5vh;
  color: #fff;
}
